VITE_API_URL=https://polandgroup.pl/
APP_VERSION_NAME=2.0.0
APP_VERSION_CODE=20000

# Android signing configuration
SIGNING_STORE_PASSWORD=your_store_password_here
SIGNING_KEY_ALIAS=pl-price
SIGNING_KEY_PASSWORD=your_key_password_here
