API_PORT=3000
API_URL=http://localhost:3000/
VITE_API_URL=http://localhost/

# for docker use
# DATABASE_HOST=pl-price-api-db
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=1111
DATABASE_NAME=pl-price-api

JWT_SECRET=your_jwt_secret_key_here

# Android signing configuration
SIGNING_STORE_PASSWORD=your_store_password_here
SIGNING_KEY_ALIAS=your_key_alias_here
SIGNING_KEY_PASSWORD=your_key_password_here
