RewriteEngine On

# Redirect from old URL to new domain
RewriteCond %{HTTP_HOST} ^polandgroups\.pl$ [NC]
RewriteRule ^pl-price-api-admin/price/?$ https://polandgroup.pl/ [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^.*$ index.php [L,QSA]